vendor/
node_modules/
npm-debug.log

## Mac OS specific file
.DS_Store

## IDE specific files
.idea/

## Exclude the actual config file (to avoid committing database credential to GitHub)
config.php

## Exclude the Bitnami setting file (because the WAPP installation path may be different)
httpd.conf

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
